<a href="https://colab.research.google.com/github/JimKing100/Kaggle-NFL/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [21]:
games_df = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/competitions/22805/1583017/games.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1607967668&Signature=QOpM3rv87FjrD2qJRczz6N1iyQzq6IBXyqdJQTAVl0SK5AtilFNxaUdidBfw2yu48LBXhCsCRaVbNmEWIn3wOfR2%2BeLfuJASfHbiQb3dk2QzNlWAj3JqWhLngBQXZMHcQhUAKPouM61mVYsweiIgWp%2BS7ars%2FrfhFwi69h5Iq2mmTv%2B59cn5ezFIoCKLdCP9XSbTLucOENstp6cfmxR9jYK1NGHZYuHwKN5oYB%2BiKev0j%2Fz9p5Cuis80ANwyI04EgvrXTyAAaCOYQ0uISre05DA6Zu63BMarQIurrl0SFUi%2FFit%2Bk%2BdlgGx5ouLLsXECAe6SawHE66O8Jb6sLJLEYw%3D%3D&response-content-disposition=attachment%3B+filename%3Dgames.csv')

In [22]:
games_df.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1