In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Load the data
games_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/games.csv')
players_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/players.csv')
plays_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/plays.csv')
week1_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week1.csv')
week2_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week2.csv')
week3_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week3.csv')
week4_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week4.csv')
week5_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week5.csv')
week6_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week6.csv')
week7_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week7.csv')
week8_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week8.csv')
week9_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week9.csv')
week10_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week10.csv')
week11_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week11.csv')
week12_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week12.csv')
week13_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week13.csv')
week14_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week14.csv')
week15_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week15.csv')
week16_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week16.csv')
week17_df = pd.read_csv('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/week17.csv')

In [3]:
# The games dataframe
games_df.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [4]:
# The players dataframe
players_df.head(10)

,nflId,height,weight,birthDate,collegeName,position,displayName
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell
5,2555543,73,216,1995-07-26,Florida,FS,Keanu Neal
6,2556445,70,211,1992-10-20,Florida,CB,Brian Poole
7,2507763,6-0,200,08/01/1986,Mississippi,WR,Mike Wallace
8,2532842,78,243,1989-01-20,Arizona,QB,Nick Foles
9,2540158,77,250,1990-11-10,Stanford,TE,Zach Ertz

In [5]:
# The plays dataframe
plays_df.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,2018090600,190,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,...,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,2018090600,256,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,...,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

In [6]:
# The week 1 dataframe
week1_df.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,NaN
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,NaN
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,2018090600,75,left,NaN
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,2018090600,75,left,HITCH

In [7]:
# Merge the plays and games dataframes
full_play_df = pd.merge(plays_df, games_df, on = 'gameId', how = 'inner')
full_play_df.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,passResult,offensePlayResult,playResult,epa,isDefensivePI,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,week
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,C,10,10,0.261827,False,09/06/2018,20:20:00,PHI,ATL,1
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,I,0,0,-0.372360,False,09/06/2018,20:20:00,PHI,ATL,1
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,I,0,0,-0.702779,False,09/06/2018,20:20:00,PHI,ATL,1
3,2018090600,190,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,...,C,33,33,3.047530,False,09/06/2018,20:20:00,PHI,ATL,1
4,2018090600,256,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,...,I,0,0,-0.842272,False,09/06/2018,20:20:00,PHI,ATL,1

In [8]:
# Add the defense column identifying the defensive team
full_play_df['def'] = np.where(full_play_df['possessionTeam'] != full_play_df['homeTeamAbbr'], 
                               full_play_df['homeTeamAbbr'], full_play_df['visitorTeamAbbr'])

In [9]:
# The resulting merged full play dataframe
full_play_df.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,offensePlayResult,playResult,epa,isDefensivePI,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,week,def
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,10,10,0.261827,False,09/06/2018,20:20:00,PHI,ATL,1,PHI
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,0,0,-0.372360,False,09/06/2018,20:20:00,PHI,ATL,1,PHI
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,0,0,-0.702779,False,09/06/2018,20:20:00,PHI,ATL,1,PHI
3,2018090600,190,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,...,33,33,3.047530,False,09/06/2018,20:20:00,PHI,ATL,1,PHI
4,2018090600,256,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,...,0,0,-0.842272,False,09/06/2018,20:20:00,PHI,ATL,1,PHI

In [10]:
# The number of defensive plays for each team
count_df = full_play_df.groupby('def')['playId'].count()
count_df

def
ARI    571
ATL    642
BAL    642
BUF    548
CAR    580
CHI    677
CIN    636
CLE    681
DAL    595
DEN    572
DET    558
GB     590
HOU    651
IND    594
JAX    553
KC     665
LA     591
LAC    573
MIA    561
MIN    510
NE     648
NO     645
NYG    608
NYJ    635
OAK    510
PHI    683
PIT    628
SEA    562
SF     558
TB     587
TEN    582
WAS    603
Name: playId, dtype: int64

In [11]:
# The number of completions for each team
completion_df = full_play_df.groupby('def')['passResult'].apply(lambda x: (x=='C').sum())
completion_df

def
ARI    345
ATL    400
BAL    344
BUF    315
CAR    357
CHI    379
CIN    393
CLE    394
DAL    368
DEN    335
DET    324
GB     338
HOU    385
IND    386
JAX    314
KC     377
LA     347
LAC    336
MIA    338
MIN    286
NE     370
NO     384
NYG    362
NYJ    370
OAK    303
PHI    418
PIT    358
SEA    331
SF     325
TB     386
TEN    336
WAS    366
Name: passResult, dtype: int64

In [12]:
# The number of incompletions for each team
incompletion_df = full_play_df.groupby('def')['passResult'].apply(lambda x: (x=='I').sum())
incompletion_df

def
ARI    170
ATL    187
BAL    241
BUF    180
CAR    174
CHI    221
CIN    194
CLE    227
DAL    176
DEN    180
DET    183
GB     199
HOU    207
IND    154
JAX    186
KC     221
LA     179
LAC    186
MIA    169
MIN    167
NE     229
NO     201
NYG    201
NYJ    209
OAK    178
PHI    210
PIT    209
SEA    179
SF     196
TB     153
TEN    196
WAS    173
Name: passResult, dtype: int64

In [13]:
# The number of sacks for each team
sack_df = full_play_df.groupby('def')['passResult'].apply(lambda x: (x=='S').sum())
sack_df

def
ARI    50
ATL    40
BAL    45
BUF    37
CAR    36
CHI    50
CIN    37
CLE    42
DAL    41
DEN    42
DET    43
GB     45
HOU    44
IND    39
JAX    39
KC     52
LA     46
LAC    37
MIA    33
MIN    47
NE     30
NO     48
NYG    30
NYJ    41
OAK    14
PHI    45
PIT    52
SEA    43
SF     35
TB     38
TEN    39
WAS    48
Name: passResult, dtype: int64

In [14]:
# The number of interceptions for each team
interception_df = full_play_df.groupby('def')['passResult'].apply(lambda x: (x=='IN').sum())
interception_df

def
ARI     6
ATL    15
BAL    12
BUF    16
CAR    13
CHI    27
CIN    12
CLE    18
DAL    10
DEN    15
DET     8
GB      8
HOU    15
IND    15
JAX    14
KC     15
LA     19
LAC    14
MIA    21
MIN    10
NE     18
NO     12
NYG    15
NYJ    13
OAK    14
PHI    10
PIT     9
SEA     9
SF      2
TB      9
TEN    11
WAS    15
Name: passResult, dtype: int64

In [15]:
# The sum of the epa's for each team
epa_df = full_play_df.groupby('def')['epa'].sum()
epa_df

def
ARI     -2.888951
ATL     44.778507
BAL    -62.838145
BUF    -69.719574
CAR     42.811472
CHI   -101.075043
CIN     79.399785
CLE     -7.843873
DAL     14.297893
DEN      6.513093
DET     50.946777
GB      63.591836
HOU     -6.559722
IND      2.337420
JAX    -29.730128
KC      21.445981
LA     -10.926365
LAC    -30.216721
MIA     43.638872
MIN    -63.112552
NE     -35.199049
NO      59.441886
NYG     54.447810
NYJ     28.811289
OAK    105.711891
PHI     10.677438
PIT      1.884763
SEA      2.182433
SF      91.769536
TB      78.527960
TEN     -6.085031
WAS     21.704470
Name: epa, dtype: float64

In [16]:
# The merged dataframe for the initial stats
merge_list = [count_df, completion_df, incompletion_df, sack_df, interception_df, epa_df]
team_df = pd.concat(merge_list, axis=1)
team_df.columns = ['totalPassAttempts', 'completions', 'incompletions', 'sacks', 'interceptions', 'epa']
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa
0,ARI,571,345,170,50,6,-2.888951
1,ATL,642,400,187,40,15,44.778507
2,BAL,642,344,241,45,12,-62.838145
3,BUF,548,315,180,37,16,-69.719574
4,CAR,580,357,174,36,13,42.811472
5,CHI,677,379,221,50,27,-101.075043
6,CIN,636,393,194,37,12,79.399785
7,CLE,681,394,227,42,18,-7.843873
8,DAL,595,368,176,41,10,14.297893
9,DEN,572,335,180,42,15,6.513093
10,DET,558,324,183,43,8,50.946777
11,GB,590,338,199,45,8,63.591836
12,HOU,651,385,207,44,15,-6.559722
13,IND,594,386,154,39,15,2.337420
14,JAX,553,314,186,39,14,-29.730128
15,KC,665,377,221,52,15,21.445981
16,LA,591,347,179,46,19,-10.926365
17,LAC,573,336,186,37,14,-30.216721
18,MIA,561,338,169,33,21,43.638872
19,MIN,510,286,167,47,10,-63.112552
20,NE,648,370,229,30,18,-35.199049
21,NO,645,384,201,48,12,59.441886
22,NYG,608,362,201,30,15,54.447810
23,NYJ,635,370,209,41,13,28.811289
24,OAK,510,303,178,14,14,105.711891
25,PHI,683,418,210,45,10,10.677438
26,PIT,628,358,209,52,9,1.884763
27,SEA,562,331,179,43,9,2.182433
28,SF,558,325,196,35,2,91.769536
29,TB,587,386,153,38,9,78.527960
30,TEN,582,336,196,39,11,-6.085031
31,WAS,603,366,173,48,15,21.704470

In [17]:
# The team completion percentage
team_df['completionPct'] = team_df['completions'] / team_df['totalPassAttempts']
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct
0,ARI,571,345,170,50,6,-2.888951,0.604203
1,ATL,642,400,187,40,15,44.778507,0.623053
2,BAL,642,344,241,45,12,-62.838145,0.535826
3,BUF,548,315,180,37,16,-69.719574,0.574818
4,CAR,580,357,174,36,13,42.811472,0.615517
5,CHI,677,379,221,50,27,-101.075043,0.559823
6,CIN,636,393,194,37,12,79.399785,0.617925
7,CLE,681,394,227,42,18,-7.843873,0.578561
8,DAL,595,368,176,41,10,14.297893,0.618487
9,DEN,572,335,180,42,15,6.513093,0.585664
10,DET,558,324,183,43,8,50.946777,0.580645
11,GB,590,338,199,45,8,63.591836,0.572881
12,HOU,651,385,207,44,15,-6.559722,0.591398
13,IND,594,386,154,39,15,2.337420,0.649832
14,JAX,553,314,186,39,14,-29.730128,0.567812
15,KC,665,377,221,52,15,21.445981,0.566917
16,LA,591,347,179,46,19,-10.926365,0.587140
17,LAC,573,336,186,37,14,-30.216721,0.586387
18,MIA,561,338,169,33,21,43.638872,0.602496
19,MIN,510,286,167,47,10,-63.112552,0.560784
20,NE,648,370,229,30,18,-35.199049,0.570988
21,NO,645,384,201,48,12,59.441886,0.595349
22,NYG,608,362,201,30,15,54.447810,0.595395
23,NYJ,635,370,209,41,13,28.811289,0.582677
24,OAK,510,303,178,14,14,105.711891,0.594118
25,PHI,683,418,210,45,10,10.677438,0.612006
26,PIT,628,358,209,52,9,1.884763,0.570064
27,SEA,562,331,179,43,9,2.182433,0.588968
28,SF,558,325,196,35,2,91.769536,0.582437
29,TB,587,386,153,38,9,78.527960,0.657581
30,TEN,582,336,196,39,11,-6.085031,0.577320
31,WAS,603,366,173,48,15,21.704470,0.606965

In [18]:
# The team completion rank
team_df['completionRank'] = team_df['completionPct'].rank(ascending=1)
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct,completionRank
0,ARI,571,345,170,50,6,-2.888951,0.604203,24.0
1,ATL,642,400,187,40,15,44.778507,0.623053,30.0
2,BAL,642,344,241,45,12,-62.838145,0.535826,1.0
3,BUF,548,315,180,37,16,-69.719574,0.574818,9.0
4,CAR,580,357,174,36,13,42.811472,0.615517,27.0
5,CHI,677,379,221,50,27,-101.075043,0.559823,2.0
6,CIN,636,393,194,37,12,79.399785,0.617925,28.0
7,CLE,681,394,227,42,18,-7.843873,0.578561,11.0
8,DAL,595,368,176,41,10,14.297893,0.618487,29.0
9,DEN,572,335,180,42,15,6.513093,0.585664,15.0
10,DET,558,324,183,43,8,50.946777,0.580645,12.0
11,GB,590,338,199,45,8,63.591836,0.572881,8.0
12,HOU,651,385,207,44,15,-6.559722,0.591398,19.0
13,IND,594,386,154,39,15,2.337420,0.649832,31.0
14,JAX,553,314,186,39,14,-29.730128,0.567812,5.0
15,KC,665,377,221,52,15,21.445981,0.566917,4.0
16,LA,591,347,179,46,19,-10.926365,0.587140,17.0
17,LAC,573,336,186,37,14,-30.216721,0.586387,16.0
18,MIA,561,338,169,33,21,43.638872,0.602496,23.0
19,MIN,510,286,167,47,10,-63.112552,0.560784,3.0
20,NE,648,370,229,30,18,-35.199049,0.570988,7.0
21,NO,645,384,201,48,12,59.441886,0.595349,21.0
22,NYG,608,362,201,30,15,54.447810,0.595395,22.0
23,NYJ,635,370,209,41,13,28.811289,0.582677,14.0
24,OAK,510,303,178,14,14,105.711891,0.594118,20.0
25,PHI,683,418,210,45,10,10.677438,0.612006,26.0
26,PIT,628,358,209,52,9,1.884763,0.570064,6.0
27,SEA,562,331,179,43,9,2.182433,0.588968,18.0
28,SF,558,325,196,35,2,91.769536,0.582437,13.0
29,TB,587,386,153,38,9,78.527960,0.657581,32.0
30,TEN,582,336,196,39,11,-6.085031,0.577320,10.0
31,WAS,603,366,173,48,15,21.704470,0.606965,25.0

In [19]:
# The team epa rank
team_df['epaRank'] = team_df['epa'].rank(ascending=1)
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct,completionRank,epaRank
0,ARI,571,345,170,50,6,-2.888951,0.604203,24.0,12.0
1,ATL,642,400,187,40,15,44.778507,0.623053,30.0,24.0
2,BAL,642,344,241,45,12,-62.838145,0.535826,1.0,4.0
3,BUF,548,315,180,37,16,-69.719574,0.574818,9.0,2.0
4,CAR,580,357,174,36,13,42.811472,0.615517,27.0,22.0
5,CHI,677,379,221,50,27,-101.075043,0.559823,2.0,1.0
6,CIN,636,393,194,37,12,79.399785,0.617925,28.0,30.0
7,CLE,681,394,227,42,18,-7.843873,0.578561,11.0,9.0
8,DAL,595,368,176,41,10,14.297893,0.618487,29.0,18.0
9,DEN,572,335,180,42,15,6.513093,0.585664,15.0,16.0
10,DET,558,324,183,43,8,50.946777,0.580645,12.0,25.0
11,GB,590,338,199,45,8,63.591836,0.572881,8.0,28.0
12,HOU,651,385,207,44,15,-6.559722,0.591398,19.0,10.0
13,IND,594,386,154,39,15,2.337420,0.649832,31.0,15.0
14,JAX,553,314,186,39,14,-29.730128,0.567812,5.0,7.0
15,KC,665,377,221,52,15,21.445981,0.566917,4.0,19.0
16,LA,591,347,179,46,19,-10.926365,0.587140,17.0,8.0
17,LAC,573,336,186,37,14,-30.216721,0.586387,16.0,6.0
18,MIA,561,338,169,33,21,43.638872,0.602496,23.0,23.0
19,MIN,510,286,167,47,10,-63.112552,0.560784,3.0,3.0
20,NE,648,370,229,30,18,-35.199049,0.570988,7.0,5.0
21,NO,645,384,201,48,12,59.441886,0.595349,21.0,27.0
22,NYG,608,362,201,30,15,54.447810,0.595395,22.0,26.0
23,NYJ,635,370,209,41,13,28.811289,0.582677,14.0,21.0
24,OAK,510,303,178,14,14,105.711891,0.594118,20.0,32.0
25,PHI,683,418,210,45,10,10.677438,0.612006,26.0,17.0
26,PIT,628,358,209,52,9,1.884763,0.570064,6.0,13.0
27,SEA,562,331,179,43,9,2.182433,0.588968,18.0,14.0
28,SF,558,325,196,35,2,91.769536,0.582437,13.0,31.0
29,TB,587,386,153,38,9,78.527960,0.657581,32.0,29.0
30,TEN,582,336,196,39,11,-6.085031,0.577320,10.0,11.0
31,WAS,603,366,173,48,15,21.704470,0.606965,25.0,20.0

In [20]:
# The team sack rank
team_df['sackRank'] = team_df['sacks'].rank(ascending=0)
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct,completionRank,epaRank,sackRank
0,ARI,571,345,170,50,6,-2.888951,0.604203,24.0,12.0,3.5
1,ATL,642,400,187,40,15,44.778507,0.623053,30.0,24.0,19.0
2,BAL,642,344,241,45,12,-62.838145,0.535826,1.0,4.0,10.0
3,BUF,548,315,180,37,16,-69.719574,0.574818,9.0,2.0,25.0
4,CAR,580,357,174,36,13,42.811472,0.615517,27.0,22.0,27.0
5,CHI,677,379,221,50,27,-101.075043,0.559823,2.0,1.0,3.5
6,CIN,636,393,194,37,12,79.399785,0.617925,28.0,30.0,25.0
7,CLE,681,394,227,42,18,-7.843873,0.578561,11.0,9.0,15.5
8,DAL,595,368,176,41,10,14.297893,0.618487,29.0,18.0,17.5
9,DEN,572,335,180,42,15,6.513093,0.585664,15.0,16.0,15.5
10,DET,558,324,183,43,8,50.946777,0.580645,12.0,25.0,13.5
11,GB,590,338,199,45,8,63.591836,0.572881,8.0,28.0,10.0
12,HOU,651,385,207,44,15,-6.559722,0.591398,19.0,10.0,12.0
13,IND,594,386,154,39,15,2.337420,0.649832,31.0,15.0,21.0
14,JAX,553,314,186,39,14,-29.730128,0.567812,5.0,7.0,21.0
15,KC,665,377,221,52,15,21.445981,0.566917,4.0,19.0,1.5
16,LA,591,347,179,46,19,-10.926365,0.587140,17.0,8.0,8.0
17,LAC,573,336,186,37,14,-30.216721,0.586387,16.0,6.0,25.0
18,MIA,561,338,169,33,21,43.638872,0.602496,23.0,23.0,29.0
19,MIN,510,286,167,47,10,-63.112552,0.560784,3.0,3.0,7.0
20,NE,648,370,229,30,18,-35.199049,0.570988,7.0,5.0,30.5
21,NO,645,384,201,48,12,59.441886,0.595349,21.0,27.0,5.5
22,NYG,608,362,201,30,15,54.447810,0.595395,22.0,26.0,30.5
23,NYJ,635,370,209,41,13,28.811289,0.582677,14.0,21.0,17.5
24,OAK,510,303,178,14,14,105.711891,0.594118,20.0,32.0,32.0
25,PHI,683,418,210,45,10,10.677438,0.612006,26.0,17.0,10.0
26,PIT,628,358,209,52,9,1.884763,0.570064,6.0,13.0,1.5
27,SEA,562,331,179,43,9,2.182433,0.588968,18.0,14.0,13.5
28,SF,558,325,196,35,2,91.769536,0.582437,13.0,31.0,28.0
29,TB,587,386,153,38,9,78.527960,0.657581,32.0,29.0,23.0
30,TEN,582,336,196,39,11,-6.085031,0.577320,10.0,11.0,21.0
31,WAS,603,366,173,48,15,21.704470,0.606965,25.0,20.0,5.5

In [21]:
# The team interception rank
team_df['intRank'] = team_df['interceptions'].rank(ascending=0)
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct,completionRank,epaRank,sackRank,intRank
0,ARI,571,345,170,50,6,-2.888951,0.604203,24.0,12.0,3.5,31.0
1,ATL,642,400,187,40,15,44.778507,0.623053,30.0,24.0,19.0,10.0
2,BAL,642,344,241,45,12,-62.838145,0.535826,1.0,4.0,10.0,20.0
3,BUF,548,315,180,37,16,-69.719574,0.574818,9.0,2.0,25.0,6.0
4,CAR,580,357,174,36,13,42.811472,0.615517,27.0,22.0,27.0,17.5
5,CHI,677,379,221,50,27,-101.075043,0.559823,2.0,1.0,3.5,1.0
6,CIN,636,393,194,37,12,79.399785,0.617925,28.0,30.0,25.0,20.0
7,CLE,681,394,227,42,18,-7.843873,0.578561,11.0,9.0,15.5,4.5
8,DAL,595,368,176,41,10,14.297893,0.618487,29.0,18.0,17.5,24.0
9,DEN,572,335,180,42,15,6.513093,0.585664,15.0,16.0,15.5,10.0
10,DET,558,324,183,43,8,50.946777,0.580645,12.0,25.0,13.5,29.5
11,GB,590,338,199,45,8,63.591836,0.572881,8.0,28.0,10.0,29.5
12,HOU,651,385,207,44,15,-6.559722,0.591398,19.0,10.0,12.0,10.0
13,IND,594,386,154,39,15,2.337420,0.649832,31.0,15.0,21.0,10.0
14,JAX,553,314,186,39,14,-29.730128,0.567812,5.0,7.0,21.0,15.0
15,KC,665,377,221,52,15,21.445981,0.566917,4.0,19.0,1.5,10.0
16,LA,591,347,179,46,19,-10.926365,0.587140,17.0,8.0,8.0,3.0
17,LAC,573,336,186,37,14,-30.216721,0.586387,16.0,6.0,25.0,15.0
18,MIA,561,338,169,33,21,43.638872,0.602496,23.0,23.0,29.0,2.0
19,MIN,510,286,167,47,10,-63.112552,0.560784,3.0,3.0,7.0,24.0
20,NE,648,370,229,30,18,-35.199049,0.570988,7.0,5.0,30.5,4.5
21,NO,645,384,201,48,12,59.441886,0.595349,21.0,27.0,5.5,20.0
22,NYG,608,362,201,30,15,54.447810,0.595395,22.0,26.0,30.5,10.0
23,NYJ,635,370,209,41,13,28.811289,0.582677,14.0,21.0,17.5,17.5
24,OAK,510,303,178,14,14,105.711891,0.594118,20.0,32.0,32.0,15.0
25,PHI,683,418,210,45,10,10.677438,0.612006,26.0,17.0,10.0,24.0
26,PIT,628,358,209,52,9,1.884763,0.570064,6.0,13.0,1.5,27.0
27,SEA,562,331,179,43,9,2.182433,0.588968,18.0,14.0,13.5,27.0
28,SF,558,325,196,35,2,91.769536,0.582437,13.0,31.0,28.0,32.0
29,TB,587,386,153,38,9,78.527960,0.657581,32.0,29.0,23.0,27.0
30,TEN,582,336,196,39,11,-6.085031,0.577320,10.0,11.0,21.0,22.0
31,WAS,603,366,173,48,15,21.704470,0.606965,25.0,20.0,5.5,10.0

In [22]:
# The team combined rank - equal weighting for each ranking
team_df['combinedRank'] = team_df['completionRank'] + team_df['epaRank'] + team_df['sackRank'] + team_df['intRank']
team_df = team_df.sort_values(by=['combinedRank'])
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct,completionRank,epaRank,sackRank,intRank,combinedRank
0,CHI,677,379,221,50,27,-101.075043,0.559823,2.0,1.0,3.5,1.0,7.5
1,KC,665,377,221,52,15,21.445981,0.566917,4.0,19.0,1.5,10.0,34.5
2,BAL,642,344,241,45,12,-62.838145,0.535826,1.0,4.0,10.0,20.0,35.0
3,LA,591,347,179,46,19,-10.926365,0.587140,17.0,8.0,8.0,3.0,36.0
4,MIN,510,286,167,47,10,-63.112552,0.560784,3.0,3.0,7.0,24.0,37.0
5,CLE,681,394,227,42,18,-7.843873,0.578561,11.0,9.0,15.5,4.5,40.0
6,BUF,548,315,180,37,16,-69.719574,0.574818,9.0,2.0,25.0,6.0,42.0
7,NE,648,370,229,30,18,-35.199049,0.570988,7.0,5.0,30.5,4.5,47.0
8,PIT,628,358,209,52,9,1.884763,0.570064,6.0,13.0,1.5,27.0,47.5
9,JAX,553,314,186,39,14,-29.730128,0.567812,5.0,7.0,21.0,15.0,48.0
10,HOU,651,385,207,44,15,-6.559722,0.591398,19.0,10.0,12.0,10.0,51.0
11,DEN,572,335,180,42,15,6.513093,0.585664,15.0,16.0,15.5,10.0,56.5
12,WAS,603,366,173,48,15,21.704470,0.606965,25.0,20.0,5.5,10.0,60.5
13,LAC,573,336,186,37,14,-30.216721,0.586387,16.0,6.0,25.0,15.0,62.0
14,TEN,582,336,196,39,11,-6.085031,0.577320,10.0,11.0,21.0,22.0,64.0
15,NYJ,635,370,209,41,13,28.811289,0.582677,14.0,21.0,17.5,17.5,70.0
16,ARI,571,345,170,50,6,-2.888951,0.604203,24.0,12.0,3.5,31.0,70.5
17,SEA,562,331,179,43,9,2.182433,0.588968,18.0,14.0,13.5,27.0,72.5
18,NO,645,384,201,48,12,59.441886,0.595349,21.0,27.0,5.5,20.0,73.5
19,GB,590,338,199,45,8,63.591836,0.572881,8.0,28.0,10.0,29.5,75.5
20,PHI,683,418,210,45,10,10.677438,0.612006,26.0,17.0,10.0,24.0,77.0
21,IND,594,386,154,39,15,2.337420,0.649832,31.0,15.0,21.0,10.0,77.0
22,MIA,561,338,169,33,21,43.638872,0.602496,23.0,23.0,29.0,2.0,77.0
23,DET,558,324,183,43,8,50.946777,0.580645,12.0,25.0,13.5,29.5,80.0
24,ATL,642,400,187,40,15,44.778507,0.623053,30.0,24.0,19.0,10.0,83.0
25,DAL,595,368,176,41,10,14.297893,0.618487,29.0,18.0,17.5,24.0,88.5
26,NYG,608,362,201,30,15,54.447810,0.595395,22.0,26.0,30.5,10.0,88.5
27,CAR,580,357,174,36,13,42.811472,0.615517,27.0,22.0,27.0,17.5,93.5
28,OAK,510,303,178,14,14,105.711891,0.594118,20.0,32.0,32.0,15.0,99.0
29,CIN,636,393,194,37,12,79.399785,0.617925,28.0,30.0,25.0,20.0,103.0
30,SF,558,325,196,35,2,91.769536,0.582437,13.0,31.0,28.0,32.0,104.0
31,TB,587,386,153,38,9,78.527960,0.657581,32.0,29.0,23.0,27.0,111.0

In [23]:
# The team final rank
team_df['finalRank'] = team_df['combinedRank'].rank(ascending=1)
team_df = team_df.sort_values(by=['finalRank'])
team_df.reset_index()

,def,totalPassAttempts,completions,incompletions,sacks,interceptions,epa,completionPct,completionRank,epaRank,sackRank,intRank,combinedRank,finalRank
0,CHI,677,379,221,50,27,-101.075043,0.559823,2.0,1.0,3.5,1.0,7.5,1.0
1,KC,665,377,221,52,15,21.445981,0.566917,4.0,19.0,1.5,10.0,34.5,2.0
2,BAL,642,344,241,45,12,-62.838145,0.535826,1.0,4.0,10.0,20.0,35.0,3.0
3,LA,591,347,179,46,19,-10.926365,0.587140,17.0,8.0,8.0,3.0,36.0,4.0
4,MIN,510,286,167,47,10,-63.112552,0.560784,3.0,3.0,7.0,24.0,37.0,5.0
5,CLE,681,394,227,42,18,-7.843873,0.578561,11.0,9.0,15.5,4.5,40.0,6.0
6,BUF,548,315,180,37,16,-69.719574,0.574818,9.0,2.0,25.0,6.0,42.0,7.0
7,NE,648,370,229,30,18,-35.199049,0.570988,7.0,5.0,30.5,4.5,47.0,8.0
8,PIT,628,358,209,52,9,1.884763,0.570064,6.0,13.0,1.5,27.0,47.5,9.0
9,JAX,553,314,186,39,14,-29.730128,0.567812,5.0,7.0,21.0,15.0,48.0,10.0
10,HOU,651,385,207,44,15,-6.559722,0.591398,19.0,10.0,12.0,10.0,51.0,11.0
11,DEN,572,335,180,42,15,6.513093,0.585664,15.0,16.0,15.5,10.0,56.5,12.0
12,WAS,603,366,173,48,15,21.704470,0.606965,25.0,20.0,5.5,10.0,60.5,13.0
13,LAC,573,336,186,37,14,-30.216721,0.586387,16.0,6.0,25.0,15.0,62.0,14.0
14,TEN,582,336,196,39,11,-6.085031,0.577320,10.0,11.0,21.0,22.0,64.0,15.0
15,NYJ,635,370,209,41,13,28.811289,0.582677,14.0,21.0,17.5,17.5,70.0,16.0
16,ARI,571,345,170,50,6,-2.888951,0.604203,24.0,12.0,3.5,31.0,70.5,17.0
17,SEA,562,331,179,43,9,2.182433,0.588968,18.0,14.0,13.5,27.0,72.5,18.0
18,NO,645,384,201,48,12,59.441886,0.595349,21.0,27.0,5.5,20.0,73.5,19.0
19,GB,590,338,199,45,8,63.591836,0.572881,8.0,28.0,10.0,29.5,75.5,20.0
20,PHI,683,418,210,45,10,10.677438,0.612006,26.0,17.0,10.0,24.0,77.0,22.0
21,IND,594,386,154,39,15,2.337420,0.649832,31.0,15.0,21.0,10.0,77.0,22.0
22,MIA,561,338,169,33,21,43.638872,0.602496,23.0,23.0,29.0,2.0,77.0,22.0
23,DET,558,324,183,43,8,50.946777,0.580645,12.0,25.0,13.5,29.5,80.0,24.0
24,ATL,642,400,187,40,15,44.778507,0.623053,30.0,24.0,19.0,10.0,83.0,25.0
25,DAL,595,368,176,41,10,14.297893,0.618487,29.0,18.0,17.5,24.0,88.5,26.5
26,NYG,608,362,201,30,15,54.447810,0.595395,22.0,26.0,30.5,10.0,88.5,26.5
27,CAR,580,357,174,36,13,42.811472,0.615517,27.0,22.0,27.0,17.5,93.5,28.0
28,OAK,510,303,178,14,14,105.711891,0.594118,20.0,32.0,32.0,15.0,99.0,29.0
29,CIN,636,393,194,37,12,79.399785,0.617925,28.0,30.0,25.0,20.0,103.0,30.0
30,SF,558,325,196,35,2,91.769536,0.582437,13.0,31.0,28.0,32.0,104.0,31.0
31,TB,587,386,153,38,9,78.527960,0.657581,32.0,29.0,23.0,27.0,111.0,32.0

In [26]:
team_df.to_excel('/Users/JKMacBook/Documents/Lambda/Kaggle/NFL/nfl-big-data-bowl-2021/team_rankings.xlsx', index=True)